<div class="bookmark-container" [ngClass]="{ 'edit-mode': editMode }">
  <div
    class="column"
    *ngFor="let column of bookmarks.columns"
    [dndDropzone]="undefined"
    (dndDrop)="onDrop($event, column)"
  >
    <h2 (click)="editColumn(column)">{{ column.header }}</h2>
    <div class="placeholder" dndPlaceholderRef></div>

    <ng-container *ngIf="!editMode">
      <a
        class="bookmark"
        *ngFor="let item of column.items"
        [href]="item.href"
        [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
      >
        <span class="title">{{ item.title }}</span>
      </a>
    </ng-container>
    <ng-container *ngIf="editMode">
      <div
        class="bookmark"
        *ngFor="let item of column.items"
        (click)="selectItem(item)"
        [dndDraggable]="item"
        (dndMoved)="onDragged(item, column)"
        dndEffectAllowed="move"
        [ngStyle]="{
          'background-image': item.image ? 'url(' + item.image + ')' : ''
        }"
      >
        <div class="remove" (click)="removeItem(column, item)"></div>
        <span class="title">{{ item.title }}</span>
      </div>
    </ng-container>

    <div class="add-bookmark" (click)="addItem(column)" *ngIf="editMode"></div>
  </div>

  <div
    class="add-column"
    (click)="addColumn()"
    *ngIf="editMode"
    [dndDropzone]="undefined"
    (dndDrop)="onDropNewColumn($event)"
  >
    <div class="placeholder" dndPlaceholderRef></div>
  </div>
</div>
