.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .column,
  .add-column {
    flex: 0 1 auto;
    margin: 5px;
    padding: 5px;

    h2 {
      margin: 5px;
      color: #333;
      font-size: 1.2em;
    }
  }

  &.edit-mode .column,
  &.edit-mode .add-column {
    border: dashed 2px #ccc;
    border-radius: 10px;
    padding: 10px;
  }

  .add-column {
    min-width: 214px;
    background: #fff url('../../assets/images/add.png') center center no-repeat;
  }

  .bookmark {
    display: block;
    position: relative;
    background: #fefefe;
    padding: 5px;
    margin: 15px 5px;
    border-radius: 5px;
    width: 180px;
    height: 120px;
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.6);

    &:hover {
      box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 0.9);
    }

    .title {
      bottom: 0;
      position: absolute;
      padding: 5px;
      left: 0;
      right: 0;
      background: #fefefe;
      border-radius: 0 0 4px 4px;
      border-top: solid 1px #ccc;
      font-size: 12px;
    }
  }

  &.edit-mode .bookmark {
    cursor: pointer;
  }

  .add-bookmark {
    display: block;
    position: relative;
    padding: 5px;
    margin: 15px 5px;
    border-radius: 5px;
    min-width: 180px;
    min-height: 120px;
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.6);
    background: #fff url('../../assets/images/add.png') center center no-repeat;

    &:hover {
      box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 0.9);
    }
  }
}
