<div class="modal-header">
  <h4 class="modal-title" *ngIf="!isNew">Edit {{ item.title }}</h4>
  <h4 class="modal-title" *ngIf="isNew">Add Bookmark</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="form">
    <div class="form-group">
      <label for="item-title">Caption</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="item.title"
        class="form-control"
        id="item-title"
        placeholder="Enter a caption for the bookmark"
      />
    </div>
    <div class="form-group">
      <label for="item-url">URL</label>
      <input
        type="url"
        name="url"
        [(ngModel)]="item.href"
        class="form-control"
        id="item-url"
        placeholder="Enter a URL for the bookmark"
      />
    </div>
    <div class="form-group">
      <label for="">Thumbnail</label>
      <div class="thumbnail-container">
        <div
          class="thumbnail"
          [ngStyle]="{
            'background-image': item.image ? 'url(' + item.image + ')' : ''
          }"
        ></div>
        <div class="actions">
          <button class="btn btn-outline-primary" (click)="imageFile.click()">
            Upload
          </button>
          <button
            class="btn btn-outline-primary"
            (click)="captureScreenshot(item)"
          >
            Capture
          </button>
          <button
            class="btn"
            [ngClass]="{
              'btn-outline-danger': item.image,
              'btn-outline-dark': !item.image
            }"
            (click)="removeImage()"
            [disabled]="!item.image"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-danger mr-auto"
    (click)="activeModal.close('delete')"
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close('save')"
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close()"
  >
    Close
  </button>
</div>

<input
  type="file"
  name="file"
  #imageFile
  style="display: none"
  (change)="imageFileChanged($event)"
/>

<ngx-photo-editor
  [imageBase64]="imageBase64"
  (imageCropped)="imageCropped($event)"
  [aspectRatio]="3 / 2"
  [viewMode]="1"
  [resizeToWidth]="180"
  [darkTheme]="false"
  [hideModalHeader]="true"
  [mask]="false"
  [modalSize]="'lg'"
></ngx-photo-editor>
