:host {
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'toolbar'
    'banner'
    'content'
    'footer';
}

app-toolbar {
  grid-area: toolbar;
}

app-banner {
  grid-area: banner;
  justify-self: center;
}

app-bookmark-content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-footer {
  grid-area: footer;
  justify-self: center;
}
