html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #efefef;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'toolbar'
    'banner'
    'content'
    'footer';
}

.toolbar {
  grid-area: toolbar;
  display: flex;
  margin: 10px 10px 0 0;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.context-menu {
  background: #fefefe;
  z-index: 10;
  position: absolute;
  top: 24px;
  border-radius: 3px;
}

.context-menu ul {
  list-style: none;
  margin: 5px 0;
  padding: 5px 0;
}

.context-menu ul li a {
  min-width: 150px;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

.context-menu ul li a:hover {
  background: #e9ecef;
}

.banner {
  grid-area: banner;
  justify-self: center;
  width: 80%;
  background: white;
  color: #084298;
  background-color: #cfe2ff;
  border: solid 1px #b6d4fe;
  border-radius: 5px;
  padding: 5px;
  line-height: 26px;
}

.banner .actions {
  float: right;
}

.banner button {
  color: #fff;
  background-color: #0d6efd;
  display: inline;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #0d6efd;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 3px;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  justify-self: center;
  color: #999;
  margin: 10px;
}

footer a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column,
.add-column {
  flex: 0 1 auto;
  margin: 5px;
  padding: 5px;
}

.column h2 {
  margin: 5px;
  color: #333;
}

.edit-mode .column,
.edit-mode .add-column {
  border: dashed 2px #ccc;
  border-radius: 10px;
  padding: 10px;
}

.add-column {
  min-width: 75px;
}

.bookmark {
  display: block;
  position: relative;
  background: #fefefe;
  padding: 5px;
  margin: 15px 5px;
  border-radius: 5px;
  min-width: 180px;
  min-height: 120px;
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.6);
}

.bookmark:hover,
.add-bookmark:hover {
  box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 0.9);
}

.bookmark .title {
  bottom: 0;
  position: absolute;
  padding: 5px;
  left: 0;
  right: 0;
  background: #fefefe;
  border-radius: 0 0 4px 4px;
  border-top: solid 1px #ccc;
}

.add-bookmark {
  display: block;
  position: relative;
  padding: 5px;
  margin: 15px 5px;
  border-radius: 5px;
  min-width: 180px;
  min-height: 120px;
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.6);
}
