/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap CSS file. */
@import '~bootstrap/dist/css/bootstrap.min';
@import 'app/styles/variables';

$background-color: #efefef;

html,
body {
  margin: 0;
  height: 100%;
  background: $background-color;
}
